.alert-box {
  padding: $sp-1 0 0 $sp-3;
  -webkit-overflow-scrolling: touch;
  border-left: 0.4rem solid $blue-200;

  .alert-heading {
    margin-top: 0;
    font-weight: bold;
    color: $blue-200;
  }
  &.alert-danger {
    border-color: $red-200;
    .alert-heading {
      color: $red-200;
    }
  }
  &.alert-warning {
    border-color: $yellow-200;
    .alert-heading {
      color: $yellow-300;
    }
  }
  &.alert-tip {
    border-color: $green-200;
    .alert-heading {
      color: $green-200;
    }
  }
}

h4 {
  letter-spacing: inherit;
  font-weight: bold;
}

.intro-button {
  width: 230px;
  height: 80px;
  margin: auto;
  text-align: center;
}
